/*Font Colours*/
.md-red {
    color: #e74c3c
}

.md-green {
    color: #1abc9c
}

.md-blue {
    color: #3498db
}

.md-yellow {
    color: #f1c40f
}

.md-asphalt {
    color: #34495e
}

.md-white {
    color: #fff
}

.md-grey {
    color: #aaa
}
.md-black{
    color:#000;
}
/*Font Colours*/

/*Normalizer*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    overflow-x: hidden;
    color: #333;
    line-height: 1.42857143;
    display: block
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2ecc71;
    word-break: break-all;
    word-wrap: break-word;
    background: -webkit-linear-gradient(right, #2c3e50, #000);
    border: 0px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75)
}

.padded {
    padding: 15px;
}

a, a:visited {
    text-decoration: none;
}

a {
    color: #3498db;
    text-decoration: none
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
input:focus,textarea:focus,select:focus{
    outline: none;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Normalizer*/

/*Responsive Image*/
.img-sive {
    display: block;
    max-width: 100%;
    height: auto
}
/*Responsive Image*/

/*Container*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
/*Container*/

/*Container-fluid*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container:before, .container:after, .container-fluid:before, .container-fluid:after {
    display: table;
    content: " "
}

.container:after, .container-fluid:after {
    clear: both
}
/*Container-fluid*/

/*Center Block*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}
/*Center Block*/

/*Header Underline*/
.md-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}
/*Header Underline*/

/*Text Alignment*/
.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}
/*Text Alignment*/

/*Floats*/
.pull-right {
    float: right
}

.pull-left {
    float: left
}
/*Floats*/

/*Background Colours*/
.md-bg-red {
    background-color: #e74c3c !important;
    color: white !important;
}

.md-bg-green {
    background-color: #1abc9c !important;
    color: white !important;
}

.md-bg-blue {
    background-color: #3498db !important;
    color: white !important;
}

.md-bg-asphalt {
    background-color: #34495e !important;
    color: white !important;
}

.md-bg-grey {
    background-color: #aaa !important;
    color: white !important;
}

.md-bg-yellow {
    background-color: #f1c40f !important;
    color: white !important;
}
.md-bg-black{
    background-color: #000 !important;
    color:white !important;
}
/*Background Colours*/


/*Button Default*/
.btn-md {
    color: #333;
    background: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.btn-md-bordered{
    border: 1px solid #ddd !important;
}
.btn-md:hover {
    text-decoration: none;
    color: inherit;
}
/*Button Default*/

/*Button Green*/
.btn-md-green {
    color: #fff;
    background: #1abc9c;
}
/*Button Green*/

/*Button Blue*/
.btn-md-blue {
    color: #fff;
    background: #3498db;
}

.btn-md-blue:hover {
    text-decoration: none;
    color: #aaa
}
/*Button Blue*/

/*Button Yellow*/
.btn-md-yellow {
    color: #fff;
    background: #f1c40f
}

.btn-md-yellow:hover {
    text-decoration: none;
    color: #aaa
}
/*Button Yellow*/

/*Button Red*/
.btn-md-red {
    color: #fff;
    background: #e74c3c
}

.btn-md-red:hover {
    text-decoration: none;
    color: #aaa
}
/*Button Red*/

/*Button Aspalt*/
.btn-md-asphalt {
    color: #fff;
    background: #2c3e50
}

.btn-md-asphalt:hover {
    text-decoration: none;
    color: #aaa
}
/*Button Aspalt*/

/*Large Button*/
.btn-md-lg {
    font-size: 20px
}
/*Large Button*/

/*Shadowed Button*/
.btn-md-shadowed {
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid transparent
}
/*Shadowed Button*/

/*Button Focus*/
.btn-md:focus, .btn-md:active, .btn-md-active, .btn-md-active:focus, .btn-md-active:active, .btn-md:active:focus, .btn-md:active.btn-md-active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
/*Button Focus*/

/*Disabled Button*/
.btn-md-disabled, .btn-md[disabled], fieldset[disabled] .btn-md {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.btn-md-disabled, fieldset[disabled] a.btn-md {
    pointer-events: none
}
/*Disabled Button*/

/*Form Properties*/
.form-md-ctrl {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background: #fff;
    color: cornflowerblue;
    margin-bottom: 10px
}

.form-md-ctrl.user-md {
    padding: 12px 20px 12px 40px;
    background: url('icon/user.png') no-repeat 10px 10px #fff;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px
}

.form-md-ctrl.mail-md {
    padding: 12px 20px 12px 40px;
    background: url('icon/mail.png') no-repeat 10px 10px #fff;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px
}

.form-md-ctrl.key-md {
    padding: 12px 20px 12px 40px;
    background: url('icon/key.png') no-repeat 10px 10px #fff;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px
}

.form-md-ctrl.search-md {
    padding: 12px 20px 12px 40px;
    background: url('icon/search.png') no-repeat 10px 10px #fff;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px
}

.form-md-ctrl.cal-md {
    padding: 12px 20px 12px 40px;
    background: url('icon/calendar.png') no-repeat 10px 10px #fff;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px
}
.form-md-ctrl[disabled], .form-md-ctrl[readonly], fieldset[disabled].form-md-ctrl {
    background-color: #eee;
    opacity: .6;
    cursor: not-allowed
}
/*Form Properties*/

/*Shadowed Element*/
.md-shadowed {
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid transparent
}
/*Shadowed Element*/

/*Card*/
.card {
    background-color: #fff;
    border: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: auto;
    vertical-align: middle
}

.card-body {
    padding: 15px;
    min-height: 20px;
    height: auto
}

.card-head {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: center;
    font-weight: bold
}

.card-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    color: #c0c0c0
}
/*Card*/

/*Card Properties*/
.timestamp {
    font-size: 12px;
    line-height: inherit;
    color: #b5c7d9;
    float: right;
    text-align: right
}

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle
}
/*Card Properties*/

/*Grid*/
.grid {
    margin-right: -15px;
    margin-left: -15px
}

.grid:after, .grid:before {
    content: " ";
    display: table
}

.grid:after {
    clear: both
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px
}

@media (min-width: 992px) {
    .col-1 {
        width: 8.33%
    }

    .col-2 {
        width: 16.66%
    }

    .col-3 {
        width: 25%
    }

    .col-4 {
        width: 33.33%
    }

    .col-5 {
        width: 41.66%
    }

    .col-6 {
        width: 50%
    }

    .col-7 {
        width: 58.33%
    }

    .col-8 {
        width: 66.66%
    }

    .col-9 {
        width: 75%
    }

    .col-10 {
        width: 83.33%
    }

    .col-11 {
        width: 91.66%
    }

    .col-12 {
        width: 100%
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left
    }
}

@media only screen and (max-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%
    }
}

@media (max-width: 991px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left
    }

    .col-xs-12 {
        width: 100%
    }

    .col-xs-11 {
        width: 91.66666667%
    }

    .col-xs-10 {
        width: 83.33333333%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-8 {
        width: 66.66666667%
    }

    .col-xs-7 {
        width: 58.33333333%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-5 {
        width: 41.66666667%
    }

    .col-xs-4 {
        width: 33.33333333%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-1 {
        width: 8.33333333%
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }
}
/*Grid*/

/*Menu*/
/* VARIABLES */
/* BASE */

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #fff;
    background: #2c3e50;
    z-index:1000000;
}

.header__logo {
    font-weight: 700;
    padding: 0 25px;
    float: left;
}

/* MENU */
.menu {
    float: right;
    position:relative;
    right:50px;
}
.menu a {
    padding: 0 10px;
}
.menu a:hover {
    color: #c5cae9;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .site-pusher,
    .site-container {
        height: auto;
    }

    .site-container {
        overflow: hidden;
    }

    .site-pusher {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .header {
        position: static;
    }

    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 66px;
        cursor: pointer;
    }
    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 16px;
        left: 15px;
        box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #3849a2;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        width: 250px;
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    .menu a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #3f51b5;
    }

    .with--sidebar .site-pusher {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
    }
    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
/*Menu*/

/* Slide */

/* Slide */